@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
.navbar-nav {
  margin-left: 301px;
  font-size: 14px;
  font-weight: 400; }
  .navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px; }

.navbar-brand {
  margin-left: 82px; }

header {
  border-bottom: 2px solid;
  border-color: #f3f0eb; }

body {
  font-family: "Lato", sans-serif; }

* {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
.dropdown {
  position: initial; }

.dropdown-menu {
  width: 100%;
  background-color: #262a32;
  height: 577px; }
  .dropdown-menu .row {
    margin: 89px 83px 76px 96px; }
  .dropdown-menu a {
    color: #ffffff;
    font-size: 15px;
    line-height: 46.5px; }
  .dropdown-menu h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#facebookBtn {
  width: 221px;
  height: 55px;
  border: 3px solid #3a5b96;
  background-color: white;
  border-radius: 40px;
  position: relative;
  text-align: center; }
  #facebookBtn p {
    float: left;
    width: 84px;
    height: 16px;
    color: #3a5b96;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 21px; }

.fa-facebook-f {
  float: left;
  color: #3a5b96;
  width: 13px;
  height: 27px;
  margin-left: 34px;
  margin-top: 8px; }

#popularItems {
  background-color: #262a32;
  width: 100%;
  height: 1591px; }

#popularItems h3 {
  font-size: 36px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  display: flex;
  padding-top: 133px; }

#popularItems h3:before,
#popularItems h3:after {
  content: "";
  border-top: 2px solid white;
  margin: 0 78px 0 87px;
  flex: 1 0 20px;
  opacity: 0.1; }

#popularItems h3:after {
  margin: 0 81px 0 85px; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#popularItems .card {
  width: 406px;
  height: 548px;
  border-radius: 10px; }
  #popularItems .card-title {
    color: #45413e;
    font-size: 24px;
    line-height: 27px; }
  #popularItems .card p {
    color: #011847;
    font-size: 21px; }
  #popularItems .card button {
    width: 298px;
    height: 55px;
    border: 3px solid lightgray;
    background-color: white;
    border-radius: 40px; }
    #popularItems .card button div {
      width: 2px;
      height: 50px;
      background-color: lightgray; }

#popularItems .card-deck {
  margin: 0 65px 0 70px; }

#popularItems #message {
  background-image: url("../../images/Layer 149.png"); }

#featuredProducts .card {
  width: 406px;
  height: 444px;
  float: left;
  border-radius: 10px; }
  #featuredProducts .card img {
    width: 406px;
    height: 285px; }

#featuredProducts .card-deck {
  margin: 0 82px 0 82px; }

#categoryPage .card {
  width: 406px;
  height: 548px;
  border-radius: 10px; }
  #categoryPage .card-title {
    color: #45413e;
    font-size: 24px;
    line-height: 27px; }
  #categoryPage .card p {
    color: #011847;
    font-size: 21px;
    opacity: 0.3; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#message .img-container {
  display: inline-block;
  position: relative; }

#message .positioning {
  width: 197px;
  height: 91px;
  position: absolute;
  float: left;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin: 300px 163px 131px 46px; }

#message .time {
  position: absolute;
  float: left; }
  #message .time img {
    float: left; }
  #message .time p {
    float: left;
    padding-left: 30px;
    text-align: center;
    padding-top: 15px; }

.load-btn {
  width: 392px;
  height: 55px;
  border: 3px solid #e8e2d6;
  background-color: #1e1d22;
  border-radius: 40px;
  margin: auto;
  margin-top: 75px; }
  .load-btn .fa-redo-alt {
    color: white;
    float: left;
    margin-top: 16px;
    padding-left: 50px; }
  .load-btn p {
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
    margin-left: 138px;
    margin-top: 8px; }

.jumbotron {
  background-image: url("../../images/Layer_148.png");
  height: 668px;
  display: flex;
  align-items: center; }
  .jumbotron h1 {
    font-size: 73px;
    font-weight: bold;
    color: white; }
  .jumbotron p {
    color: white;
    font-size: 21px;
    font-weight: 400; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#featuredProducts {
  height: 832px;
  background-color: #262a32; }

#featuredProducts h1 {
  font-size: 54px;
  font-weight: 700;
  color: white;
  padding-top: 64px; }

#featuredProducts p {
  color: white;
  font-size: 27px;
  font-weight: 400; }

#featuredProducts .container {
  margin: auto;
  width: 888px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#featuredProducts .divider {
  flex-grow: 1;
  border-bottom: 1px solid white;
  margin: 5px; }

body {
  font-family: "Lato", sans-serif; }

* {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
footer .row {
  margin: 59px 88px 0 79px; }

footer .container-fluid {
  height: 500px; }

footer h4 {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333333; }

footer #unique {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 27px;
  color: #45413e; }

footer ul {
  padding-top: 44px; }

footer li {
  font-family: "Lato", sans-serif;
  color: #45413e;
  opacity: 0.7;
  font-size: 15px;
  font-weight: bold;
  line-height: 46.5px; }

footer img {
  color: #000000;
  opacity: 0.3; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#background {
  background-color: #f1edea;
  height: 1100px; }
  #background h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #45413e;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #45413e;
    font-size: 72px;
    font-weight: bold; }
    #background h2:before, #background h2:after {
      content: "";
      border-top: 2px solid;
      margin: 0 50px 0 82px;
      flex: 1 0 20px;
      opacity: 0.3; }
    #background h2:after {
      margin: 0 82px 0 55px; }
  #background .container-fluid {
    height: 739px;
    width: 1710px;
    background-color: white;
    margin: 0 82px 0 82px; }
    #background .container-fluid p {
      color: #555555;
      font-size: 20px;
      font-weight: bold;
      line-height: 36px; }
    #background .container-fluid h4 {
      color: #000000;
      font-size: 36px;
      font-weight: bold; }
    #background .container-fluid a {
      color: #84bc22;
      font-family: Lato;
      font-size: 20px;
      font-weight: bold; }
  #background #image404 img {
    margin-left: -76px; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
.has-search input {
  width: 851px;
  height: 55px;
  border: 3px solid #e8e2d6;
  border-radius: 300px; }

.has-search img {
  margin-top: 55px; }

input::-webkit-input-placeholder {
  padding-left: 34px;
  color: #45413e;
  font-size: 21px;
  text-transform: uppercase; }

input:-moz-placeholder {
  /* Firefox 18- */
  padding-left: 34px;
  color: #45413e;
  font-size: 21px;
  text-transform: uppercase; }

input::-moz-placeholder {
  /* Firefox 19+ */
  padding-left: 34px;
  color: #45413e;
  font-size: 21px;
  text-transform: uppercase; }

input:-ms-input-placeholder {
  padding-left: 34px;
  color: #45413e;
  font-size: 21px;
  text-transform: uppercase; }

.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 27px;
  height: 27px;
  color: #4f4e4c;
  right: 0px; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#productPage h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #45413e;
  font-size: 72px;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #45413e;
  font-size: 72px;
  font-weight: bold; }
  #productPage h2:before, #productPage h2:after {
    content: "";
    border-top: 2px solid;
    margin: 0 50px 0 82px;
    flex: 1 0 20px;
    opacity: 0.3; }
  #productPage h2:after {
    margin: 0 82px 0 55px; }

#productPage .container-fluid {
  height: 1480px;
  width: 1720px;
  background-color: white; }
  #productPage .container-fluid h4 {
    color: #000000;
    font-size: 36px;
    font-weight: bold; }

#color {
  width: 229px;
  height: 54px;
  border: 3px solid #e8e2d6;
  background-color: white;
  border-radius: 40px; }
  #color p {
    color: #555555;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px; }
  #color div {
    width: 34px;
    height: 34px;
    background-color: #585d61;
    border-radius: 100%; }

#quantity {
  color: #555555;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px; }

#popularTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #45413e;
  font-size: 72px;
  font-weight: bold;
  font-size: 36px;
  color: #45413e;
  margin-top: 82px; }
  #popularTitle:before, #popularTitle:after {
    content: "";
    border-top: 2px solid;
    margin: 0 50px 0 82px;
    flex: 1 0 20px;
    opacity: 0.3; }
  #popularTitle:after {
    margin: 0 82px 0 55px; }

#more {
  display: none; }

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: white;
  margin-top: 116px; }

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 70px;
  transition: 0.3s;
  font-size: 17px;
  color: #c7c6c5;
  font-size: 30px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

/* Create an active/current tablink class */
.tab button.active {
  background-color: #262a32;
  color: white; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 480px;
  margin-left: -30px;
  margin-right: -30px;
  background-color: #262a32; }
  .tabcontent p {
    font-size: 20px;
    color: white; }

#image-picker button {
  width: 110px;
  height: 105px;
  opacity: 0.5;
  border: 2px solid #585d61; }

#image-picker button.active {
  opacity: 1;
  border: 2px solid #84bc22; }

#img1 {
  background: #f0f0f0 url("../../images/p1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#img2 {
  background: #f0f0f0 url("../../images/p3.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#img3 {
  background: #f0f0f0 url("../../images/p4.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#img4 {
  background: #f0f0f0 url("../../images/p6.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.modal {
  margin-top: 150px; }
  .modal a {
    color: #84bc22;
    font-size: 16px; }
  .modal input {
    border-radius: 300px; }
  .modal .btn {
    width: 250px;
    height: 50px;
    border-radius: 300px;
    background-color: #84bc22;
    color: white; }

.hoverImage {
  position: absolute;
  opacity: 0; }
  .hoverImage:hover {
    opacity: 1;
    transition: 0.3s; }

.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0 !important; }
  .carousel-caption button {
    width: 221px;
    height: 55px;
    border: 3px solid lightgray;
    background-color: transparent;
    float: left;
    margin-left: 90px;
    border-radius: 300px;
    color: white;
    font-size: 16px; }

.carousel-caption h1 {
  text-align: left;
  font-size: 60px;
  font-weight: bold;
  margin-left: 91px;
  margin-top: 119px; }

.carousel-caption p {
  text-align: left;
  margin-top: 172px;
  margin-left: 93px;
  font-size: 21px; }

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
#categoryPage {
  background-color: #f2edea; }
  #categoryPage h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #45413e;
    font-size: 72px;
    font-weight: bold; }
    #categoryPage h2:before, #categoryPage h2:after {
      content: "";
      border-top: 2px solid white;
      margin: 0 50px 0 82px;
      flex: 1 0 20px; }
    #categoryPage h2:after {
      margin: 0 82px 0 55px; }
  #categoryPage button {
    width: 230px;
    height: 55px;
    border: 3px solid #d9d9d9;
    background-color: #84bc22;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    margin-bottom: 114px;
    margin-top: 180px; }

.home {
  font-weight: bold;
  color: #45413e;
  padding-left: 15px;
  font-size: 20px; }
  .home:hover {
    color: #84bc22; }
