@import '../utilities/variables';

.navbar{
    border-bottom: 2px solid;
    border-color: $osf-grey;
    &-nav{
        margin-left: 301px;
        font-size: 14px;
        font-weight: bold;
        &>li{
            padding-left:10px;
            padding-right:10px;
        }
    }
    &-brand {
        margin-left: 82px;
    }
}
    
header{
    
}




