.jumbotron {
    background-image: url("../../images/Layer_148.png");
    height: 668px;
    display: flex;
    align-items: center;
    h1{
        font-size: 73px;
        font-weight: bold;
        color: white;
    }
    p{
        color: white;
        font-size: 21px;
        font-weight: 400;
    }
}