@mixin verticalCenterer {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin f-left {
  float: left;
}

@mixin card-size {
  width: 406px;
  height: 548px;
}

@mixin product-size {
  width: 406px;
  height: 444px;
}

@mixin opacity($color, $opacity) {
  color: $color;
  opacity: $opacity;
}

@mixin placeholder {
  padding-left: 34px;
  color: #45413e;
  font-size: 21px;
  text-transform: uppercase;
}

@mixin linedHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #45413e;
  font-size: 72px;
  font-weight: bold;
   &:before, &:after {
    content: "";
    border-top: 2px solid;
    margin: 0 50px 0 82px;
    flex: 1 0 20px;
    opacity: 0.3;
   }
   &:after{
    margin: 0 82px 0 55px;
   }
}
@mixin whiteLinedHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: bold;
   &:before, &:after {
    content: "";
    border-top: 2px solid white;
    margin: 0 50px 0 82px;
    flex: 1 0 20px;
   }
   &:after{
    margin: 0 82px 0 55px;
   }
}

// --------Media Query Mixins------ ////

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

/* Using responsive mixin example 

aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}

*/
