@import '../utilities/mixins';

#popularItems {
    .card {
        @include card-size;
    }
    
    .card-deck {
        margin: 0 65px 0 70px;
    }
    
    #message {
        background-image: url("../../images/Layer\ 149.png");
    }
}

#featuredProducts {
    .card {
        @include product-size;
        float: left;
    }

    .card-deck {
        margin: 0 82px 0 82px;
    }
}

