@import "../utilities/variables";
@import "../utilities/mixins";

.dropdown {
  position: initial;
}

.dropdown-menu {
  width: 100%;
  background-color: $osf-black;
  height: 577px;

  .row{
    margin: 89px 83px 76px 96px;
  }


  a {
    color: #ffffff;
    font-size: 15px;
    line-height: 46.5px;
  }
  h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
}
