@import '../utilities/variables';
@import '../utilities/mixins';

.dropdown{
    position:initial;
}

.dropdown-menu{
    width: 100%;
    background-color: $osf-black;
    height: 448px;
}

.row {
    align-items: center;
    margin-left: 225px;
    img {
        margin-top: 57px;
    }
}

