@import '../utilities/mixins';

.btn {
    width: 221px;
    height: 55px;
    border: 3px solid #3a5b96;
    background-color: white;
    border-radius: 40px;
    position: relative;
    text-align: center;
    
     p{
        @include f-left;
        width: 84px;
    height: 16px;
    color: #3a5b96;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 21px;
    }
    
}

.fa-facebook-f{
    @include f-left;
    color: #3a5b96;
    width: 13px;
    height: 27px;
    margin-left: 34px;
    margin-top: 8px;
   
}