@import '../utilities/mixins';
@import '../utilities/variables';

#productPage {
	h2 {
		@include linedHeader;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #45413e;
		font-size: 72px;
		font-weight: bold;
	}
	.container-fluid {
		height: 1480px;
		width: 1720px;
		background-color: white;

		h4 {
			color: #000000;
			font-size: 36px;
			font-weight: bold;
		}

	}
}
#color {
	width: 229px;
	height: 54px;
	border: 3px solid #e8e2d6;
	background-color: white;
	border-radius: $button-radius;

	p {
		color: #555555;
		font-size: 20px;
		font-weight: bold;
		line-height: 36px;
	}

	div {
		width: 34px;
		height: 34px;
		background-color: #585d61;
		border-radius: 100%;
	}
}

#quantity {
	color: #555555;
	font-size: 20px;
	font-weight: bold;
	line-height: 36px;
}

#popularTitle {
  @include linedHeader;
  font-size: 36px;
  color: #45413e;
  margin-top: 82px;
}
